<settings>
  <proxies>
   <proxy>
      <id>proxy-maven</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>${maven_proxy_host}</host>
      <port>${maven_proxy_port}</port>
      <username>${maven_proxy_username}</username>
      <password>${maven_proxy_password}</password>
    </proxy>
   <proxy>
      <id>proxy-maven</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>${maven_proxy_host}</host>
      <port>${maven_proxy_port}</port>
      <username>${maven_proxy_username}</username>
      <password>${maven_proxy_password}</password>
    </proxy>
  </proxies>
</settings>
